<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bug Reports</title>
        <link rel="stylesheet" type="text/css" href="/style/bugReports.css">
    </head>
    <body>
    <% include navbar %>
    <div class="container">
    	<div class="row">
			<div class="col-md-12">
                    <% if(typeof(resultAdmin) != 'undefined') { %>
                        <% if(state == 'unassigned') { %>
                            <div class="panel panel-default">
            					<div class="panel-heading">
            						<h3 class="panel-title">Unassigned Bugs</h3>
            						<div class="pull-right">
            							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                            <i class="fa fa-filter" aria-hidden="true"></i>
            							</span>
            						</div>
            					</div>
            					<div class="panel-body">
            						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Bugs" />
            					</div>
        					<table class="table table-hover" id="dev-table">
        						<thead>
        							<tr>
        								<th>#</th>
        								<th>Name</th>
        								<th>Type</th>
        								<th>Description</th>
                                        <th>Severity</th>
                                        <th>Priority</th>
                                        <th>Assign to</th>
                                        <th>Save</th>
        							</tr>
        						</thead>
                                <tbody>
                                <% for(i=0; i<resultAdmin.length; i++) {%>
                                    <% if(resultAdmin[i].status == 'Open') {%>

                                        <tr>
            								<td class="bug_id"><%= resultAdmin[i].id %></td>
            								<td><%= resultAdmin[i].name %></td>
            								<td><%= resultAdmin[i].bug_type %></td>
            								<td><%= resultAdmin[i].description %></td>
                                            <td><%= resultAdmin[i].severity %></td>
                                            <td><%= resultAdmin[i].priority %></td>
                                            <td class="dev_id">

                                                    <select class="form-control" name="developer"  required>
                                                     <option value="">Select Developer</option>
                                                         <% for(j=0;j<devs.length;j++) {%>
                                                             <option value= <%= devs[j].id %> > <%= devs[j].name %>  </option>
                                                        <% } %>
                                                    </select>
                                                    <div class="help-block with-errors"></div>

                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-primary update">Save</button>
                                            </td>
            							</tr>

                                    <% } %>
                                <% } %>
        						</tbody>
        					</table>
                        <% } %> <!--If state is unassigned -->

                        <% if(state == 'assigned') { %>

                            <div class="panel panel-default">
            					<div class="panel-heading">
            						<h3 class="panel-title">Assigned Bugs</h3>
            						<div class="pull-right">
            							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                            <i class="fa fa-filter" aria-hidden="true"></i>
            							</span>
            						</div>
            					</div>
            					<div class="panel-body">
            						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Bugs" />
            					</div>
        					<table class="table table-hover" id="dev-table">
        						<thead>
        							<tr>
        								<th>#</th>
        								<th>Name</th>
        								<th>Type</th>
        								<th>Description</th>
                                        <th>Severity</th>
                                        <th>Priority</th>
                                        <th>Assigned to</th>
                                        <th>Status</th>
        							</tr>
        						</thead>
                                <tbody>
                                <% for(i=0; i<resultAdmin.length; i++) {%>
                                    <% if(resultAdmin[i].status == 'Assigned') {%>

                                        <tr>
            								<td class="bug_id"><%= resultAdmin[i].id %></td>
            								<td><%= resultAdmin[i].name %></td>
            								<td><%= resultAdmin[i].bug_type %></td>
            								<td><%= resultAdmin[i].description %></td>
                                            <td><%= resultAdmin[i].severity %></td>
                                            <td><%= resultAdmin[i].priority %></td>
                                            <td><%= resultAdmin[i].developer_id %></td>
                                            <td><%= resultAdmin[i].status %></td>
            							</tr>

                                    <% } %>
                                <% } %>
        						</tbody>
        					</table>

                        <% } %> <!-- If state is assigned -->

                        <% if(state == 'closed') { %>

                            <div class="panel panel-default">
            					<div class="panel-heading">
            						<h3 class="panel-title">Closed Bugs</h3>
            						<div class="pull-right">
            							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                            <i class="fa fa-filter" aria-hidden="true"></i>
            							</span>
            						</div>
            					</div>
            					<div class="panel-body">
            						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Bugs" />
            					</div>
        					<table class="table table-hover" id="dev-table">
        						<thead>
        							<tr>
        								<th>#</th>
        								<th>Name</th>
        								<th>Type</th>
        								<th>Description</th>
                                        <th>Severity</th>
                                        <th>Priority</th>
                                        <th>Assigned to</th>
                                        <th>Status</th>
        							</tr>
        						</thead>
                                <tbody>
                                <% for(i=0; i<resultAdmin.length; i++) {%>
                                    <% if(resultAdmin[i].status == 'Closed') {%>

                                        <tr>
            								<td class="bug_id"><%= resultAdmin[i].id %></td>
            								<td><%= resultAdmin[i].name %></td>
            								<td><%= resultAdmin[i].bug_type %></td>
            								<td><%= resultAdmin[i].description %></td>
                                            <td><%= resultAdmin[i].severity %></td>
                                            <td><%= resultAdmin[i].priority %></td>
                                            <td><%= resultAdmin[i].developer_id %></td>
                                            <td><%= resultAdmin[i].status %></td>
            							</tr>

                                    <% } %>
                                <% } %>
        						</tbody>
        					</table>

                        <% } %> <!-- Closed bugs -->

                        <% if(state == 'approve') { %>
                            <div class="panel panel-default">
            					<div class="panel-heading">
            						<h3 class="panel-title">Bugs pending approval</h3>
            						<div class="pull-right">
            							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                            <i class="fa fa-filter" aria-hidden="true"></i>
            							</span>
            						</div>
            					</div>
            					<div class="panel-body">
            						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Bugs" />
            					</div>
        					<table class="table table-hover" id="dev-table">
        						<thead>
        							<tr>
        								<th>#</th>
        								<th>Name</th>
        								<th>Type</th>
        								<th>Description</th>
                                        <th>Severity</th>
                                        <th>Priority</th>
                                        <th>Assigned to</th>
                                        <th>Status</th>
                                        <th>Save</th>
        							</tr>
        						</thead>
                                <tbody>
                                <% for(i=0; i<resultAdmin.length; i++) {%>
                                    <% if(resultAdmin[i].status == 'Approval') {%>

                                        <tr>
            								<td class="bug_id"><%= resultAdmin[i].id %></td>
            								<td><%= resultAdmin[i].name %></td>
            								<td><%= resultAdmin[i].bug_type %></td>
            								<td><%= resultAdmin[i].description %></td>
                                            <td><%= resultAdmin[i].severity %></td>
                                            <td><%= resultAdmin[i].priority %></td>
                                            <td><%= resultAdmin[i].name %></td>
                                            <td class="stat">
                                                <select class="form-control" name="status" required>
                                                 <option value="">Select status</option>
                                                 <option value="Rejected">Rejected</option>
                                                 <option value="Closed">Closed</option>
                                                </select>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-primary update">Save</button>
                                            </td>
            							</tr>

                                    <% } %>
                                <% } %>
        						</tbody>
        					</table>
                        <% } %> <!--If state is unassigned -->

                    <% } %> <!--If admin -->
				</div>
			</div>
		</div>
	</div>

    <script src="/table.js" charset="utf-8"></script>
    <script src="/assignDeveloper.js" charset="utf-8"></script>
    <script src="/axios.min.js" charset="utf-8"></script>

    </body>
</html>
