<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bug Reports</title>
        <link rel="stylesheet" type="text/css" href="/style/bugReports.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="exampleModalLabel"><h3>Bug Details</h3></h5>
              </div>
              <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="bug_name" class="form-control-label">Bug Name</label>
                              <input type="text" class="form-control" id="bug_name" value="" disabled>
                            </div>
                        </div>
                    </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                            <label for="bug_id" class="form-control-label">Bug ID</label>
                            <input type="text" class="form-control" id="bug_id" value="" disabled>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                            <label for="bug_type" class="form-control-label">Bug Type</label>
                            <input type="text" class="form-control" id="bug_type" value="" disabled>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12">
                          <label for="description" class="form-control-label">Description</label>
                          <textarea class="form-control" id="description" disabled></textarea>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-4">
                          <label for="priority" class="form-control-label">Priority</label>
                          <input type="text" class="form-control" id="priority" value="" disabled>
                      </div>
                      <div class="col-sm-4">
                          <label for="severity" class="form-control-label">Severity</label>
                          <input type="text" class="form-control" id="severity" value="" disabled>
                      </div>
                      <div class="col-sm-4">
                          <label for="current_status" class="form-control-label">Current Status</label>
                          <input type="text" class="form-control" id="current_status" value="" disabled>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-4">
                          <label for="project_id" class="form-control-label">Project</label>
                          <input type="text" class="form-control" id="project_id" value="" disabled>
                      </div>
                      <div class="col-sm-4">
                          <label for="tester_id" class="form-control-label">Tester</label>
                          <input type="text" class="form-control" id="tester_id" value="" disabled>
                      </div>
                      <div class="col-sm-4" id="optional">
                          <label for="developer_id" class="form-control-label">Developer</label>
                          <input type="text" class="form-control" id="developer_id" value="" disabled>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-4">
                          <label for="project_manager" class="form-control-label">Project Manager</label>
                          <input type="text" class="form-control" id="project_manager" value="" disabled>
                      </div>
                      <div class="col-sm-8">
                          <label for="file" class="form-control-label">File</label>
                          <input type="text" class="form-control" id="file" value="" disabled>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12">
                          <label for="screenshot" class="form-control-label">Screenshot</label>
                          <img class="img-responsive" id="scrImg" src="" alt="image" />
                      </div>
                  </div>
                  <% if(typeof(resultDev) != 'undefined') { %>
                      <% if(type == 'reject') { %>
                          <div class="row ifReject">
                              <div class="col-sm-12">
                                  <label for="reason" class="form-control-label">Reason</label>
                                  <input type="text" class="form-control" id="reason" value="" disabled>
                              </div>
                          </div>
                    <% } %>
                <% } %>
                  <div class="row">
                      <div class="col-sm-6">
                          <label for="method" class="form-control-label">Method</label>
                          <input type="text" class="form-control" id="method" value="" disabled>
                      </div>
                      <div class="col-sm-2">
                          <label for="file" class="form-control-label">Line</label>
                          <input type="line" class="form-control" id="line" value="" disabled>
                      </div>
                      <% if(typeof(resultDev) != 'undefined') { %>
                          <% if(type == 'open') { %>
                            <div class="col-sm-4">
                                <label for="status" class="form-control-label">Status</label>
                                <div class="stat">
                                  <select class="form-control" name="status" required>
                                   <option value="">Select status</option>
                                   <option value="Resolving">Resolving</option>
                                   <option value="Review">Review</option>
                                  </select>
                                  <div class="help-block with-errors"></div>
                              </div>
                            </div>
                          <% } %>
                          <% if(type == 'reject') { %>
                            <div class="col-sm-4">
                                <label for="status" class="form-control-label">Status</label>
                                <div class="stat">
                                  <select class="form-control" name="status" required>
                                   <option value="">Select status</option>
                                   <option value="Resolving">Resolving</option>
                                   <option value="Review">Review</option>
                                  </select>
                                  <div class="help-block with-errors"></div>
                              </div>
                            </div>
                          <% } %>
                      <% } %>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <% if(typeof(resultDev) != 'undefined') { %>
                    <% if((type == 'open')||(type == 'reject')) { %>
                      <button class="btn btn-sm btn-primary update">Save</button>
                    <% } %>
                <% } %>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->

    <% include navbar %>
    <div class="container">
    	<div class="row">
			<div class="col-md-12">
                    <% if(typeof(resultDev) != 'undefined') { %>
                        <% if(type == 'open') { %>
                            <div class="panel panel-primary resp">
            					<div class="panel-heading">
            						<h3 class="panel-title">Reported Bugs</h3>
            						<div class="pull-right">
            							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                            <i class="fa fa-filter" aria-hidden="true"></i>
            							</span>
            						</div>
            					</div>
            					<div class="panel-body">
            						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Bugs" />
            					</div>
        					<table class="table table-responsive table-hover" id="dev-table">
        						<thead>
        							<tr>
        								<th>Bug #</th>
        								<th>Name</th>
        								<th>Type</th>
                                        <th>Severity</th>
                                        <th>Priority</th>
                                        <th>Project</th>
                                        <th>Current status</th>
                                        <th></th>
        							</tr>
        						</thead>
                            <tbody>
                            <% for(i=0; i<resultDev.length; i++) {%>
                                <% if((resultDev[i].status == 'Assigned')||(resultDev[i].status == 'Resolving')) {%>

                                    <tr>
            								<td class="bug_id"><%= resultDev[i].bugID %></td>
            								<td><%= resultDev[i].bugName %></td>
            								<td><%= resultDev[i].bugType %></td>
                                            <td><%= resultDev[i].severity %></td>
                                            <td><%= resultDev[i].priority %></td>
                                            <td><%= resultDev[i].projectName %></td>
                                            <td><%= resultDev[i].status %></td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#exampleModal" data-bug="<%= resultDev[i].bugID %>">View More</button>
                                            </td>
            							</tr>

                                    <% } %>
                                <% } %>
        						</tbody>
        					</table>
                        <% } %> <!--If state is unassigned -->

                        <% if(type == 'history') { %>
                            <div class="panel panel-primary resp">
            					<div class="panel-heading">
            						<h3 class="panel-title">Reported Bugs</h3>
            						<div class="pull-right">
            							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                            <i class="fa fa-filter" aria-hidden="true"></i>
            							</span>
            						</div>
            					</div>
            					<div class="panel-body">
            						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Bugs" />
            					</div>
        					<table class="table table-responsive table-hover" id="dev-table">
        						<thead>
        							<tr>
                                        <th>Bug #</th>
        								<th>Name</th>
        								<th>Type</th>
                                        <th>Severity</th>
                                        <th>Priority</th>
                                        <th>Project</th>
                                        <th>Status</th>
                                        <th></th>
        							</tr>
        						</thead>
                            <tbody>
                            <% for(i=0; i<resultDev.length; i++) {%>
                                <% if((resultDev[i].status != 'Assigned')&&(resultDev[i].status != 'Resolving')) {%>

                                    <tr>
            								<td class="bug_id"><%= resultDev[i].bugId %></td>
            								<td><%= resultDev[i].bugName %></td>
            								<td><%= resultDev[i].bugType %></td>
                                            <td><%= resultDev[i].severity %></td>
                                            <td><%= resultDev[i].priority %></td>
                                            <td><%= resultDev[i].projectName %></td>
                                            <td><%= resultDev[i].status %></td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#exampleModal" data-bug="<%= resultDev[i].bugId %>">View More</button>
                                            </td>
            							</tr>

                                    <% } %>
                                <% } %>
        						</tbody>
        					</table>
                        <% } %>

                        <% if(type == 'reject') { %>
                            <div class="panel panel-primary resp">
            					<div class="panel-heading">
            						<h3 class="panel-title">Rejected Bugs</h3>
            						<div class="pull-right">
            							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                            <i class="fa fa-filter" aria-hidden="true"></i>
            							</span>
            						</div>
            					</div>
            					<div class="panel-body">
            						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Bugs" />
            					</div>
        					<table class="table table-responsive table-hover" id="dev-table">
        						<thead>
        							<tr>
        								<th>Bug #</th>
        								<th>Name</th>
        								<th>Type</th>
                                        <th>Project</th>
                                        <th>Reject Type</th>
                                        <th></th>
        							</tr>
        						</thead>
                            <tbody>
                            <% for(i=0; i<resultDev.length; i++) {%>
                                <% if((resultDev[i].rejectType == 'Review Reject')||(resultDev[i].rejectType == 'Approve Reject')) {%>

                                    <tr>
            								<td class="bug_id"><%= resultDev[i].bugID %></td>
            								<td><%= resultDev[i].bugName %></td>
            								<td><%= resultDev[i].bugType %></td>
                                            <td><%= resultDev[i].projectName %></td>
                                            <td><%= resultDev[i].rejectType %></td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#exampleModal" data-bug="<%= resultDev[i].bugID %>">View More</button>
                                            </td>
            							</tr>

                                    <% } %>
                                <% } %>
        						</tbody>
        					</table>
                        <% } %>

                    <% } %> <!--If developer -->
				</div>
			</div>
		</div>
	</div>

    <script src="/table.js" charset="utf-8"></script>
    <script src="/devStatusUpdate.js" charset="utf-8"></script>
    <script src="/axios.min.js" charset="utf-8"></script>
    <script src="/getBugDetails.js" charset="utf-8"></script>
    </body>
</html>
