<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Manage Projects</title>
        <link rel="stylesheet" href="/style/manageProjects.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    </head>
    <body>

        <% include navbar %>

        <div class="container">
        	<div class="row">
    			<div class="col-md-12">
                    <% if(typeof(msg) != 'undefined') { %>
                        <%if(msg == 'successRem') {%>
                            <div class="alert alert-success alert-dismissable fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Success!</strong>&nbspDeveloper(s) removed from the project team.
                            </div>
                        <% } else if(msg == 'failRem') {%>
                            <div class="alert alert-danger alert-dismissable fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error!</strong>&nbspOperation failed.
                            </div>
                        <% } %>
                        <%if(msg == 'successAdd') {%>
                            <div class="alert alert-success alert-dismissable fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Success!</strong>&nbspDeveloper(s) added to the project team.
                            </div>
                        <% } else if(msg == 'failAdd') {%>
                            <div class="alert alert-danger alert-dismissable fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error!</strong>&nbspOperation failed.
                            </div>
                        <% } %>
                    <% } %>
                    <div class="panel panel-primary resp">
                		<div class="panel-heading">
                			<h3 class="panel-title">Add Developers</h3>
                		</div>
                		<div class="panel-body fixed-panel">
                            <div class="col-md-12">
                              <div class="col-md-1"><input type="checkbox" name="developers" value= "" disabled></div>
                              <div class="col-md-6"><strong><p>Tester Name</p></strong></div>
                              <div class="col-md-5"><strong><p>User ID</p></strong></div>
                            </div>
                            <form class="" action="/admin/manageProjectTeam/manageDevelopers/addDevelopers" method="post" data-toggle="validator">
                                <% if(typeof(developersAdd) != 'undefined') { %>
                                  <% developersAdd.forEach(function(item, index) {%>
                                    <div class="col-md-12">
                                      <div class="col-md-1">
                                          <label>
                                              <input type="checkbox" name="developers[]" value= "<%= item.developerId %>" >
                                          </label>
                                      </div>
                                      <div class="col-md-6">
                                          <p> <%= item.developerName %> </p>
                                      </div>
                                      <div class="col-md-5">
                                          <p> <%= item.developerId %> </p>
                                      </div>
                                    </div>
                                  <% }); %>
                              <% } %>
                              <div class="col-sm-12">
                                <div class="col-sm-11">
                                    <div class="col-sm-3 col-sm-offset-9 form-group">
                                        <select class="form-control" name="project_id" required>
                                            <option value="">Select Project</option>
                                            <% if(typeof(projects) != 'undefined') { %>
                                                <% projects.forEach(function(item, index) { %>
                                                    <option value="<%= item.id %>"> <%= item.name %> </option>
                                                <% }); %>
                                            <% } %>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-1 form group">
                                    <input type="submit" class="btn btn-md btn-primary checkBtn" value="Submit">
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
        			<div class="col-md-12">
                    <div class="panel panel-primary resp">
                    		<div class="panel-heading">
                    			<h3 class="panel-title">Remove Developers</h3>
                    		</div>
                    		<div class="panel-body fixed-panel">
                          <div class="col-md-12">
                            <div class="col-md-2"><strong><p>User ID</p></strong></div>
                            <div class="col-md-3"><strong><p>Developer Name</p></strong></div>
                            <div class="col-md-2"><strong><p>Project ID</p></strong></div>
                            <div class="col-md-3"><strong><p>Project Name</p></strong></div>
                            <div class="col-md-2"><strong><p>Remove</p></strong></div>
                          </div>
                              <% if(typeof(developersRem) != 'undefined') { %>
                                <% developersRem.forEach(function(item, index) {%>
                                  <div class="col-md-12">
                                    <form class="" action="/admin/manageProjectTeam/manageDevelopers/removeDevelopers" method="post">
                                      <div class="col-md-2">
                                          <p> <%= item.developerId %> </p>
                                          <input type="hidden" name="user_id" value="<%= item.developerId %>">
                                      </div>
                                    <div class="col-md-3">
                                        <p> <%= item.developerName %> </p>
                                    </div>
                                    <div class="col-md-2">
                                        <p> <%= item.projectId %> </p>
                                        <input type="hidden" name="project_id" value="<%= item.projectId %>">
                                    </div>
                                    <div class="col-md-3">
                                        <p> <%= item.projectName %> </p>
                                    </div>
                                    <div class="col-md-2">
                                      <button type="submit" class="removeBtn">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                      </button>
                                    </div>
                                    </form>
                                  </div>
                                <% }); %>
                            <% } %>
                        </div>
                    </div>
                </div>
              </div>
              <script src="/checkboxValidate.js"></script>
    </body>
</html>
