<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Manage Projects</title>
        <link rel="stylesheet" href="/style/manageProjects.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/jquery.min.js"></script>
        <script src="/validator.min.js"></script>
        <script src="/axios.min.js" charset="utf-8"></script>
    </head>
    <body>

        <% include navbar %>

        <div class="container">
        	<div class="row">
    			<div class="col-md-12">
                    <% if(typeof(msg) != 'undefined') { %>
                        <%if(msg == 'successRem') {%>
                            <div class="alert alert-success alert-dismissable fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Success!</strong>&nbspTester(s) removed from the project team.
                            </div>
                        <% } else if(msg == 'failRem') {%>
                            <div class="alert alert-danger alert-dismissable fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error!</strong>&nbspOperation failed.
                            </div>
                        <% } %>
                        <%if(msg == 'successAdd') {%>
                            <div class="alert alert-success alert-dismissable fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Success!</strong>&nbspTester(s) added to the project team.
                            </div>
                        <% } else if(msg == 'failAdd') {%>
                            <div class="alert alert-danger alert-dismissable fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error!</strong>&nbspOperation failed.
                            </div>
                        <% } %>
                    <% } %>
                    <div class="panel panel-primary resp">
                		<div class="panel-heading">
                			<h3 class="panel-title">Add Testers</h3>
                		</div>
                		<div class="panel-body fixed-panel">
                            <div class="col-md-12">
                              <div class="col-md-1"><input type="checkbox" name="testers" value= "" disabled></div>
                              <div class="col-md-6"><strong><p>Tester Name</p></strong></div>
                            </div>
                            <form class="" action="/admin/manageProjectTeam/manageTesters/addTesters" method="post" data-toggle="validator">
                                <div id="testersAdd">
                                  <% if(typeof(testersAdd) != 'undefined') { %>
                                    <% testersAdd.forEach(function(item, index) {%>
                                      <div class="col-md-12">
                                        <div class="col-md-1">
                                            <label>
                                                <input type="checkbox" name="testers[]" value= "<%= item.testerId %>" >
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> <%= item.testerName %> </p>
                                        </div>
                                      </div>
                                    <% }); %>
                                <% } %>
                                </div>
                              <div class="col-sm-12">
                                <div class="col-sm-11">
                                    <div class="col-sm-3 col-sm-offset-9 form-group">
                                        <select class="form-control" name="project_id" required>
                                            <option value="">Select Project</option>
                                            <% if(typeof(projects) != 'undefined') { %>
                                                <% projects.forEach(function(item, index) { %>
                                                    <option value="<%= item.id %>"> <%= item.name %> </option>
                                                <% }); %>
                                            <% } %>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-1 form group">
                                    <input type="submit" class="btn btn-md btn-primary checkBtn1" value="Submit">
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
        			<div class="col-md-12">
                    <div class="panel panel-primary resp">
                    		<div class="panel-heading">
                    			<h3 class="panel-title">Remove Testers</h3>
                    		</div>
                    		<div class="panel-body fixed-panel">
                          <div class="col-md-12">
                            <div class="col-md-1"><input type="checkbox" name="testers" value= "" disabled></div>
                            <div class="col-md-3"><strong><p>Tester Name</p></strong></div>
                            <div class="col-md-3"><strong><p>Project Name</p></strong></div>
                          </div>
                            <form class="" action="/admin/manageProjectTeam/manageTesters/removeTesters" method="post" data-toggle="validator" onsubmit="return confirm('Do you really want to remove the tester(s) from the project?');">
                            <div id="testersRemove">
                            <% if(typeof(testersRem) != 'undefined') { %>
                              <% testersRem.forEach(function(item, index) {%>
                                <div class="col-sm-12">
                                    <div class="col-sm-1">
                                        <label>
                                            <input type="checkbox" name="testers[]" value= "<%= item.testerId %>" >
                                        </label>
                                    </div>
                                  <div class="col-sm-3">
                                      <p> <%= item.testerName %> </p>
                                  </div>
                                  <div class="col-sm-3">
                                      <p> <%= item.projectName %> </p>
                                      <input type="hidden" name="project_id" value="<%= item.projectId %>">
                                  </div>
                                </div>
                              <% }); %>
                          <% } %>
                        </div>
                          <div class="col-sm-12">
                            <div class="col-sm-11">
                              <div class="col-sm-3 col-sm-offset-9 form-group">
                                <select class="form-control" name="projectTester" id="projectTester" onchange="getTesters($(this))" required>
                                    <option value="">Select Project</option>
                                    <% if(typeof(projects) != 'undefined') { %>
                                        <% projects.forEach(function(item, index) { %>
                                            <option value="<%= item.id %>"> <%= item.name %> </option>
                                        <% }); %>
                                    <% } %>
                                </select>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                            <div class="col-sm-1 form group">
                                <input type="submit" class="btn btn-md btn-primary checkBtn2" value="Submit">
                            </div>
                          </div>
                          </form>
                        </div>
                    </div>
                </div>
              </div>
              <script src="/checkboxValidateTester.js"></script>
              <script src="/getTesters.js" charset="utf-8"></script>
    </body>
</html>
