<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bug Reports</title>
        <link rel="stylesheet" type="text/css" href="/style/bugReports.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <% include navbar %>
    <div class="container">
    	<div class="row">
			<div class="col-md-12">
                    <% if(typeof(resultTes) != 'undefined') { %>
                        <% if(type == 'review') { %>
                            <div class="panel panel-primary resp">
            					<div class="panel-heading">
            						<h3 class="panel-title">Bugs pending review</h3>
            						<div class="pull-right">
            							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                            <i class="fa fa-filter" aria-hidden="true"></i>
            							</span>
            						</div>
            					</div>
            					<div class="panel-body">
            						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Bugs" />
            					</div>
        					<table class="table table-responsive table-hover" id="dev-table">
        						<thead>
        							<tr>
                                        <th>Bug #</th>
        								<th>Name</th>
        								<th>Type</th>
                                        <th>Severity</th>
                                        <th>Priority</th>
                                        <th>Project</th>
                                        <th>Assigned to</th>
                                        <th>Status</th>
                                        <th></th>
                                        <th></th>
        							</tr>
        						</thead>
                                <tbody>
                                <% for(i=0; i<resultTes.length; i++) { %>
                                    <% if((resultTes[i].status == 'Review')) { %>

                                        <tr>
                							<td class="bug_id"><%= resultTes[i].bugID %></td>
                							<td><%= resultTes[i].bugName %></td>
                							<td><%= resultTes[i].bugType %></td>
                                            <td><%= resultTes[i].severity %></td>
                                            <td><%= resultTes[i].priority %></td>
                                            <td><%= resultTes[i].projectName %></td>
                                            <td><%= resultTes[i].assignedToName %></td>
                                            <td class="stat">
                                                 <select class="form-control" name="status" required>
                                                  <option value="">Select status</option>
                                                  <option value="Review Reject">Reject</option>
                                                  <option value="Approval">Request Approval</option>
                                                 </select>
                                                 <div class="help-block with-errors"></div>
                                            </td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#exampleModal" data-bug="<%= resultTes[i].bugID %>">View More</button>
                                            </td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-primary update">Save</button>
                                            </td>
                						</tr>

                                        <% } %>
                                    <% } %>
            						</tbody>
        					</table>
                        <% } %> <!--If state is unassigned -->

                        <% if(type == 'track') { %>
                            <div class="panel panel-primary resp">
            					<div class="panel-heading">
            						<h3 class="panel-title">Track Bugs</h3>
            						<div class="pull-right">
            							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                            <i class="fa fa-filter" aria-hidden="true"></i>
            							</span>
            						</div>
            					</div>
            					<div class="panel-body">
            						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Bugs" />
            					</div>
        					<table class="table table-responsive table-hover" id="dev-table">
        						<thead>
        							<tr>
        								<th>Bug #</th>
        								<th>Name</th>
        								<th>Type</th>
                                        <th>Severity</th>
                                        <th>Priority</th>
                                        <th>Status</th>
                                        <th></th>
                                        <th class="text-center">Developer ID</th>
        							</tr>
        						</thead>
                            <tbody>
                            <% for(i=0; i<resultTes.length; i++) { %>
                                <% if(resultTes[i].status != 'Review') { %>
                                    <% if(resultTes[i].status == 'Open') { %>
                                    <tr>
            								<td class="bug_id"><%= resultTes[i].bugID %></td>
            								<td><%= resultTes[i].bugName %></td>
            								<td><%= resultTes[i].bugType %></td>
                                            <td><%= resultTes[i].severity %></td>
                                            <td><%= resultTes[i].priority %></td>
                                            <td><%= resultTes[i].status %></td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#exampleModal" data-bug="<%= resultTes[i].bugID %>">View More</button>
                                            </td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-primary update">Edit Bug Details</button>
                                            </td>
            							</tr>
                                        <% } else { %>
                                            <tr>
                    								<td class="bug_id"><%= resultTes[i].bugID %></td>
                    								<td><%= resultTes[i].bugName %></td>
                    								<td><%= resultTes[i].bugType %></td>
                                                    <td><%= resultTes[i].severity %></td>
                                                    <td><%= resultTes[i].priority %></td>
                                                    <td><%= resultTes[i].status %></td>
                                                    <td class="text-center">
                                                        <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#exampleModal" data-bug="<%= resultTes[i].bugID %>">View More</button>
                                                    </td>
                                                    <td class="text-center"><%= resultTes[i].assignedTo %></td>
                    							</tr>
                                        <% } %>
                                    <% } %>
                                <% } %>
        						</tbody>
        					</table>
                        <% } %>

                        <% if(type == 'tasks') { %>
                            <div class="panel panel-primary resp">
            					<div class="panel-heading">
            						<h3 class="panel-title">Assigned Tasks</h3>
            						<div class="pull-right">
            							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                            <i class="fa fa-filter" aria-hidden="true"></i>
            							</span>
            						</div>
            					</div>
            					<div class="panel-body">
            						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Bugs" />
            					</div>
        					<table class="table table-responsive table-hover" id="dev-table">
        						<thead>
        							<tr>
                                        <th>Project ID</th>
                                        <th>Project Name</th>
                                        <th>Manager ID</th>
                                        <th>Manager Name</th>
        							</tr>
        						</thead>
                            <tbody>
                            <% resultTes.forEach(function(item, index) { %>

                                    <tr>
                                        <td><%= resultTes[index].projectId %></td>
                                        <td><%= resultTes[index].projectName %></td>
                                        <td><%= resultTes[index].managerId %></td>
                                        <td><%= resultTes[index].managerName %></td>
            							</tr>

                                <% }); %>
        						</tbody>
        					</table>
                        <% } %>


                    <% } %> <!--If tester -->
				</div>
			</div>
		</div>
	</div>

    <script src="/table.js" charset="utf-8"></script>
    <% if(type == 'review') { %>
    <script src="/testerStatusUpdate.js" charset="utf-8"></script>
    <% } %>
    <% if(type == 'track') { %>
        <script src="/editBugs.js" charset="utf-8"></script>
    <% } %>
    <script src="/axios.min.js" charset="utf-8"></script>
    <script src="/getBugDetails.js" charset="utf-8"></script>
    </body>
</html>
